
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    color: #007bff;
    text-align: center;
}
.book {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
}

.book-info {
    flex: 1;
}

.book {
    margin-bottom: 20px;
}
.book-content {
    display: flex;
    align-items: center;
}
.book-details {
    flex: 1;
    padding-right: 20px;
}
.book h3 {
    color: #343a40;
    margin-top: 0;
}
.book div {
    margin-bottom: 5px;
}
.button-container {
    text-align: center;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    text-align: center;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}
.button:hover {
    background-color: #0056b3;
}
.delete-button {
    background-color: #dc3545;
}
.delete-button:hover {
    background-color: #c82333;
}
